.new_recipe__controls {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}

.new_recipe__control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.new_recipe__control input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
}


.new_recipe__actions {

  padding: 0.5rem;
  margin-left: 0.5rem;
  text-align: right;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  top: 20vh;
  left: 10%;
  width: 80%;
  z-index: 100;
  overflow: hidden;
}