.loginPage {
    position: fixed;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
}

.loginForm {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 494px;
    height: 297px;
    left: 473px;
    top: 350px;
    background: #FFFEF0;
    mix-blend-mode: luminosity;
    border: 7px solid #EFA884;
}
